<div class="row justify-content-center pe-1 ps-1">
    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 border mt-5 mb-5 pt-5 pb-5" id="login">


        <div class="bloque mb-5" id="resetPassword">
            <div class="row d-flex justify-content-center m-0 mt-5">
                <form class="col-8 m-0" id="resetPasswordRequestForm">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <input type="email" class="form-control form-control-lg rounded-0"
                                                       placeholder="Email (*)" maxlength="60";
                                                      name="email" required>
                        </div>
                        <button type="submit" class=" col-12 btn btn-dark rounded-0 p-3"><a
                                                class="text-decoration-none text-reset">RESTABLECER CONTRASEÑA</a></button>
                                                </div>
                    </div>
                </form>
                    

            </div>
        </div>
    </div>
</div>

<script src="/js/sessions/resetPasswordRequest.js"></script>